*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* CSS for background */
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0,0,0,0.60)), url(Contactus.gif); 
    background-size: cover;
    background-position: center; 
}
/* CSS for navbar */
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
/* CSS for navbar animation */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #4F8FBD;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
/* CSS for content of website */
.content{
    width: 100%;
    position: static;
    top: 50%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}
/* CSS for content text */
.content h1{
    font-size: 70px;
    margin-top: 80px; 
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/* CSS for button */
.button {
    background-color: #4F8FBD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  /* CSS for button animation */
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: left 0.3s ease;
  }
  
  .button:hover::before {
    left: 0;
  }
/* CSS for alignment of card */
body{
    justify-content: center;
    background: #f1f1f1;
}
/* CSS for content in card */
.contact-info{
    display: flex;
    
    
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
/* CSS for the card */
.card{
    background: #555866;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 100%;
}
/* CSS for card icon */
.card-icon{
    font-size: 28px;
    background: #4F8FBD;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}
/* CSS for card icon animation */
.card:hover .card-icon{
    background: none;
    color: #4F8FBD;
    transform: scale(1.6);
}
/* CSS for card text */
.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
/* CSS for card animation */
.card:hover p{
    max-height: 40px;
    opacity: 1;
}
/* CSS for card and text and icon animation */
@media screen and (max-width: 800px) {
    .contact-info{
        flex-direction: row;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}
/* CSS for footer */
.footer {
    background-color: transparent;
    padding: 20px;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0,0,0,0.60)), url(Contactus.gif);
    text-align: center;
    background-size: cover;
}

/* CSS for footer adjustments */
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-buttons {
    margin-top: 20px;
}

